// Banner Section

.banner {
    position: relative;
    height: calc(100vh - 90px);
    background-image: url(../img/banner.png);
    background-position: center;
    background-size: cover;

    &__content {
        position: absolute;
        bottom: 0;
        left: 50%;
        max-width: 1360px;
        width: 100%;
        text-align: center;
        transform: translateX(-50%);

        &-notice {
            display: block;
            font-size: 14px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        &-title {
            margin-bottom: 20px;
            font-size: 54px;
        }

        &-text {
            max-width: 580px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
}

.composition__list {
    text-align: right;

    @media (max-width: $breakpoint992) {
        text-align: center;
    }

    .composition__item {
        display: inline-block;
        // margin-left: -12px;

        &-icon {
            margin-right: 49px;
            padding-right: 22px;
            // float: left;
            // margin-top: 5px;
        }

        &-text {
            // float: right;
            // margin-left: 6.5px;
            margin-top: -20px;
        }
    }
}