// Banner Section
.banner {
    position: relative;
    height: 100vh;
    background-image: url(../img/banner.png);
    background-position: center;
    background-size: cover;

    &__content {
        position: absolute;
        bottom: 0;
        left: 50%;
        max-width: 1360px;
        width: 100%;
        text-align: center;
        transform: translateX(-50%);

        &-notice {
            display: block;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 2px;

            @media(max-width: $breakpoint480) {
                font-size: 12px;
            }
        }

        &-title {
            margin-bottom: 20px;
            font-size: 54px;

            @media(max-width: $breakpoint480) {
                font-size: 40px;
            }
        }

        &-text {
            max-width: 580px;
            margin: 0 auto;
            margin-bottom: 20px;

            @media (max-width: $breakpoint640) {
                padding: 0 15px;
            }
        }
    }
}

.composition__list {
    text-align: right;
    margin-bottom: 10px;

    @media (max-width: $breakpoint992) {
        text-align: center;
    }

    @media (max-width: $breakpoint380) {
        display: none;
    }

    .composition__item {
        display: inline-block;

        &-icon {
            margin-right: 49px;
            padding-right: 22px;
        }

        &-text {
            margin-top: -20px;
        }
    }
}