// Clients Section
.clients {
    background: $blackColor;
}

.clients__content {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    padding: 120px 120px 140px 120px;
    overflow: hidden;

    @media screen and (max-width: $breakpoint992) {
        padding: 80px;
    }

    // &-info {}

    &-title {
        margin-bottom: 15px;
        font-size: 40px;

        @media screen and (max-width: $breakpoint992) {
            font-size: 30px;
            margin-bottom: 10px;
        }
    }

    &-description {
        margin-bottom: 42px;
        font-size: 24px;
        line-height: 30px;

        @media screen and (max-width: $breakpoint992) {
            font-size: 20px;
        }
    }
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide {
    text-align: center;
}