// Footer
footer {
    background: $blackColor;
    // display: block;
}

footer .container {
    max-width: 1440px;
    width: 100%;
}

.footer__content {
    padding: 100px;

    @media screen and (max-width: $breakpoint1024) {
        padding: 50px 68px;
    }

    @media screen and (max-width: $breakpoint768) {
        padding: 40px 58px;
    }

    @media screen and (max-width: $breakpoint500){
        padding: 10px 15px;
    }
}

.footer__menu {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    margin: 15px;

    @media screen and (max-width: $breakpoint992) {
        grid-template-columns: 50% 28% 22%;
    }

    @media screen and (max-width: $breakpoint768) {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    &-logo {
        margin-bottom: 20px;
    }

    &-text p {
        font-size: 13px;
        text-align: left;

        @media screen and (max-width: $breakpoint768) {
            font-size: 16px;
        }
    }

    &-list {
        max-height: 200px;
    }
}

.footer__list {
    &-item {
        margin-bottom: 10px;
    }

    &-item p {
        text-align: left;
        color: $grayColor;
        letter-spacing: 2px;
        text-transform: uppercase;

        @media screen and (max-width: $breakpoint768) {
            margin-top: 15px;
        }
    }

    &-item a {
        text-align: left;
        color: $whiteColor;
        line-height: 20px;
        transition: .8s ease;

        &:hover {
            color: #777777;
            transition: .8s ease;
        }
    }
}

hr {
    border: none;
    border-top: 2px solid $whiteColor;
    color: $whiteColor;
    overflow: visible;
    text-align: center;
    margin-top: 36px;
}

.footer__subscribe {
    display: grid;
    grid-template-columns: 60% 40%;

    @media screen and (max-width: $breakpoint1100) {
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }

    @media screen and (max-width: $breakpoint878) {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    &-info {
        margin-top: 36px;
        margin-right: auto;

        @media screen and (max-width: $breakpoint878) {
            margin: 0 auto;
            margin-top: 36px;
        }
    }

    &-title {
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &-description {
        font-size: 13px;
        text-align: left;

        @media screen and (max-width: $breakpoint878) {
            text-align: center;
        }
    }

    &-form {
        margin-top: 40px;

        & form {
            position: relative;
            max-width: 458px;
            width: 100%;
            height: 52px;
            // background: #F9FAFB;
            // border: 1px solid #E5E7EB;
            border-radius: 12px;

            @media screen and (max-width: $breakpoint878) {
                left: 50%;
                transform: translateX(-50%);
            }

            & input {
                width: 100%;
                height: 100%;
                font-family: $fontSecondary, $fontMain;
                color: $blackColor;
                padding: 20px 20px;
                border-radius: 12px;
                transition: .5s ease;

                // @media screen and (max-width:$breakpoint480){
                //     width: 75%;
                // }


                &:focus {
                    background: $blackColor;
                    color: $whiteColor;
                    transition: .5s ease;
                }
            }
        }

        & button {
            position: absolute;
            top: calc(50% - 30px/2);
            right: 6px;
            width: 63px;
            height: 30px;
            font-family: $fontSecondary, $fontMain;
            color: $blackColor;
            background: $whiteColor;
            border-radius: 11px;
            text-transform: uppercase;
            transition: .8s ease;

            &:hover {
                color: $grayColor;
                background: $blackColor;
                border: 1px solid $whiteColor;
                transition: .8s ease;
            }
        }
    }
}

.footer__copyright {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and(max-width: $breakpoint768) {
        flex-direction: column-reverse;
    }

    &-items {
        max-width: 112px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media screen and(max-width: $breakpoint768) {
            margin-bottom: 15px;
        }

        i {
            font-size: 24px;
            color: $grayColor;
            transition: 1s ease;

            &:hover {
                color: $whiteColor;
                transition: 1s ease;
            }
        }
    }
}