// Header

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: auto;
}

// Navbar
nav {
    background-color: $headerColor;
    overflow: hidden;
}

.navbar {
    display: flex;
    width: 100%;
    padding-top: 34px;
    padding-bottom: 25px;
    justify-content: space-between;
}

.logo {
    a {
        color: $whiteColor;
    }
}

.menu {
    display: flex;
    gap: 40px;

    &__item {
        display: inline-block;
    }

    &__item-link {
        // display: inline-block;
        font-size: 15px;
        color: $whiteColor;
        transition: font-size 1s ease;

        &::before {
            content: attr(title);
            // display: block;
            // height: 0;
            font-size: 13px;
            overflow: hidden;
            visibility: hidden;
        }

        &:hover {
            font-size: 13px;
            transition: 1s;
        }
    }

    &__btn {
        padding: 9px 20px;
        font-size: 16px;
        color: $blackColor;
        background: $whiteColor;
        letter-spacing: 0.4px;
        border: 1px solid $whiteColor;
        border-radius: 14px;
        transition: 0.5s;

        &:hover {
            font-size: 15px;
            color: $whiteColor;
            background: $blackColor;
            border: 1px solid $whiteColor;
            transition: 0.5s;
        }
    }
}

.burger {
    display: none;
    cursor: pointer;
}

// Burger menu styles
@media screen and (max-width: $burgerBreakpoint) {

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        width: 100vw;
        height: 100vh;
        background: $headerColor;

        &.active {
            display: flex;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 22;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            animation: fade 0.1s linear;
            opacity: 0.95;
            pointer-events: all;
        }
    }

    .burger {
        position: relative;
        z-index: 102;
        display: block;
        width: 30px;
        height: 20px;
        cursor: pointer;

        &.active-burger {
            &:before {
                top: 8px;
                background: $burgerActiveColor;
                transform: rotate(45deg);
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
            }

            &:after {
                bottom: 10px;
                background: $burgerActiveColor;
                transform: rotate(-45deg);
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
            }

            & span {
                transform: scale(0);
            }
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background: $whiteColor;
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }

        &:before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            position: absolute;
            top: 9px;
            right: 0;
            width: 100%;
            height: 2px;
            background: $whiteColor;
            transform: scale(1);
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }
    }

    .menu__item {
        margin-top: 45px;
    }

    .menu__item-link {
        font-size: 22px;
        color: $whiteColor;
    }

    .menu__btn {
        padding: 9px 20px;
        font-size: 22px;
        color: $blackColor;
        border-radius: 14px;
    }
}