// Post Section

.post {
    position: relative;

    & img {
        background-position: center;
        background-size: cover;
        max-height: 600px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__info {
        position: absolute;
        top: 50%;
        right: 0px;
        padding-right: 62px;
        transform: translateY(-50%);
    }

    &__title {
        letter-spacing: 2px;
        text-align: left;
        color: $whiteColor;
        text-transform: uppercase;
    }

    &__text {
        max-width: 355px;
        letter-spacing: 2px;
        text-align: left;
    }
}

.composition__list-post {
    position: absolute;
    bottom: 40px;
    right: 40px;
    max-width: 340px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    li {
        display: flex;
    }

    &-item {
        margin-left: 16px;
    }

    @media screen and (max-width: $breakpoint992) {
        text-align: center;
    }
}

.composition__item {
    &-icon {
        float: left;
        margin-top: 5px;
    }

    &-text {
        float: right;
        margin-left: 6.5px;
    }
}