// Post Section

.post {
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    & img {
        max-height: 600px;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        object-fit: cover;
    }

    &__info {
        position: absolute;
        top: 50%;
        right: 0px;
        padding-right: 60px;
        transform: translateY(-50%);

        @media (max-width: $breakpoint992) {
            padding-right: 0;
        }

        @media (max-width: $breakpoint768) {
            display: none;
        }
    }

    &__title {
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $whiteColor;
    }

    &__text {
        max-width: 355px;
        width: 100%;
        text-align: left;
        letter-spacing: 2px;
    }

    .composition__list {
        position: absolute;
        bottom: 40px;
        right: 0;
        width: 95%;
        text-align: right;
        padding: 0 40px;

        @media (max-width: $breakpoint992) {
            text-align: center;
        }

        @media (max-width: $breakpoint480) {
            display: none;
        }

        .composition__item {
            display: inline-block;

            &-icon {
                margin-right: 49px;
                padding-right: 22px;
            }

            &-text {
                margin-top: -25px;
            }
        }
    }
}