.service {
    background: $blackColor;
}

.service__content {
    padding: 115px 0 110px;
    text-align: center;

    &-title {
        margin: 0 auto;
        max-width: 570px;
        width: 100%;
        font-size: 40px;
        line-height: 42px;
        margin-bottom: 15px;

        @media screen and (max-width: $breakpoint992) {
            font-size: 24px;
        }

        @media screen and (max-width: $breakpoint640) {
            font-size: 24px;
        }
    }

    &-notice {
        font-size: 24px;
        margin-bottom: 42px;

        @media screen and (max-width: $breakpoint640) {
            font-size: 20px;
        }
    }

    // .btn-service {
    //     line-height: 25px;
    //     text-align: center;
    //     transition: 0.5s;
    // }

    // & img {
    //     position: relative;
    // }

    span {
        line-height: 30px;
        transition: 0.5s;
    }

    a:hover {
        background: $blackColor;

        span {
            color: $whiteColor;
            transition: 0.5s;
        }
    }
}